body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F1F6F9;
    color: #2D4356;
}

iframe {
    width: 100%;
    height: 99vh;
    border: none;
}

#sidebar {
    height: 100%;
    width: 60px;
    position: fixed;
    background-color: #2D4356;
    padding-top: 20px;
    text-align: center;
}

#sidebar img {
    width: 31px;
    margin-bottom: 20px;
}

#sidebar a {
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color: #F1F6F9;
    display: block;
    transition: 0.3s;
}

#sidebar a img {
    margin-bottom: 10px;
}

#sidebar a:hover {
    background-color: #555;
}

#content {
    margin-left: 60px;
    /* padding: 16px; */
}